@charset "utf-8";/* CSS Document by zhangchen&licunhua 20110809 */
html,body{-webkit-text-size-adjust:none;}
body{font-family: "宋体";font-size: 12px;color:#333;margin:0;padding:0;background-color:#fff;}
div,form,img,ul,ol,li,dl,dt,dd,p{margin:0;padding:0;border:0;}
li{list-style-type:none;}
input,select{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
a,a:visited{color:#0087D2;text-decoration:none;}
a:hover{color:#0087D2;text-decoration:underline;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}   /*2015-12-28zj*/
.clearfix{*zoom:1;} /*2015-12-28zj*/
/* header */
.header{width:980px;height:50px;padding-top:20px;margin:0 auto;position:relative;z-index:11;}/*2012-8-10修改*/
.logo{cursor:pointer;display:inline;float:left;width:209px;height:50px;margin-left:5px;overflow:hidden;}
.logo a{display:block;width:209px;height:50px;}
.subnav{float:right;margin:19px 5px 0 0;display:inline;/*width:560px;*/width:650px;}/*2012-8-27修改*/
.subnav li {border-left: 1px solid #DDDDDD;display:inline;float:right;height:21px;line-height:21px;*line-height: 19px;padding:0 6px;position:relative;}/*2012-8-10修改*/
.subnav .first{padding-left:6px;margin-top:-3px}/*2013-5-3修改*/
.subnav .UserName{border-left:none;padding-left:20px;background:url(../images/headicos.png) 0 1px no-repeat;_background:url(../images/headicosie6.png) 0 1px no-repeat;}/*2012-12-18修改*/
.subnav .num{cursor:pointer;height:20px;line-height:20px;color:#0087D2;background:url(../images/f_star.png) 45px 2px no-repeat;padding-right:20px; margin-bottom:2px;} 
/*收件箱下拉提示*/
.subnav .header_Inbox p{white-space:nowrap;position:absolute;top:20px;padding:0 5px;background-color:#EFF9FF;border:1px dashed #A6D3EC;left:8px;color:#0087D2;height:20px; line-height:20px;}
.subnav .header_Inbox{position:relative;height:20px}
.subnav .header_Inbox a{height:20px;line-height:20px;text-align:center;background-color:#EFF9FF;border-top:1px dashed #A6D3EC;border-right:1px dashed #A6D3EC;border-left:1px dashed #A6D3EC;padding:0px 5px;}
.subnav .header_Inbox p a{position:static;background:none;border:none 0;text-decoration:underline;}
.header_Inbox .font_red{color:#F00;}
.font_red{color:#F00}
.INbox{position:relative;height:15px;white-space:nowrap;}
.INbox a{width:70px;height:15px;text-align:center;background-color:#fff;border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff;z-index:10;padding:0px 5px;}
.INbox .ShouMail{width:auto;white-space:nowrap;display:block;}
/*收件箱下拉提示-end*/
/*我要出租按钮*/
.btncz a,.btncz a:visited{padding-right:10px;cursor:pointer;display:inline-block;float:right;width:80px;height:32px;line-height:32px;border:1px solid #ebbc01;background:-webkit-gradient(linear,center top,center bottom,from(#fed221),to(#f5c501));background:-moz-linear-gradient(top,#fed221,#f5c501);color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5),0 0 0 transparent,0 0 0 transparent;-moz-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5),0 0 0 transparent,0 0 0 transparent;-webkit-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.5),0 0 0 transparent,0 0 0 transparent;margin:9px 5px;font-size:14px;text-align:center;background:url(../images/headjiantoufabu.gif) #f5c501 72px -20px no-repeat;}/*2013-5-3修改*/
.btncz a:hover{box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6),0 0 0 transparent,0 0 0 transparent;-moz-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6),0 0 0 transparent,0 0 0 transparent;-webkit-box-shadow:inset 0 0 .2em rgba(255,255,255,0.3),inset 0 0 .2em rgba(255,255,255,0.3),0 1px 5px rgba(0,0,0,0.6),0 0 0 transparent,0 0 0 transparent;text-decoration:none;font-size:14px;color:#000;}/*2013-5-3修改*/
.btnczCur a{background-position:72px 15px;}/*2013-5-3修改*/
/*2013-5-3修改*//*新增我要出租按钮样式*/
.HeadLandlord{display:none;position:absolute;z-index:100;right:5px;width:90px;background-color:#fff;top:65px;border:1px solid #d9d9d9;border-top:none;}
.HeadLandlord li{line-height:24px;height:24px;border-bottom:1px dotted #dbdbdb;padding-left:10px;padding-top:2px;}
.HeadLandlord .HeadLandlordNew{background:url(../images/headlandlordnewbg.png) 62px 3px no-repeat;_background:url(../images/headlandlordnewbgie6.png) 62px 3px no-repeat;}
.HeadLandlordCur{background-color:#f1f8fc!important;}
/*2013-5-3修改_end*/
/*翻页样式*/
.page{height:22px;overflow:hidden;}
.page a,.page a:visited{display:block;float:left;height:17px;line-height:17px;padding:3px 6px 0 6px;background:#969696;border:1px solid #e1e1e1;color:#0088d1;text-shadow:1px 1px 1px #fff;background:#969696 url(../images/page_bg.gif) repeat-x 0 -21px;height:17px;margin-right:5px;font-weight:normal;text-decoration:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:1px 1px 0 #fff inset;-webkit-box-shadow:1px 1px 0 #fff inset;box-shadow:1px 1px 0 #fff inset}
.page a:hover{background:#969696 url(../images/page_bg.gif) repeat-x 0 0;text-decoration:none;}
.page_sele{display:block;float:left;height:17px;line-height:17px;background:#cfcfcf;border:1px solid #a8a8a8;color:#fff;font-weight:bold;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;margin-right:5px;padding:2px 7px 1px 5px;border-radius:4px;}
.page_slh{display:block;float:left;height:17px;line-height:17px;margin-right:5px;}
/*翻页样式-end*/
/* footer*/
/*.footer{width:980px;margin-top:8px;line-height:20px;color:#cfcfcf;overflow:hidden;}*/
.footer{width:980px;line-height:20px;color:#cfcfcf;overflow:hidden;margin: 8px auto 0px;}/*2015-12-28xg*/
.footer_link{height:20px;line-height:20px;color:#cfcfcf;overflow:hidden; margin:0px auto;width:640px;padding-top:12px}/*2012-4-23公共底部布局*/
.footer_link02{height:20px;line-height:20px;color:#cfcfcf;overflow:hidden; margin:0px auto; width:545px;}
.footer_share{height:20px;line-height:20px;color:#cfcfcf;overflow:hidden;padding:2px 0;}
.footer_link li,.footer_link02 li,.footer_share li{display:inline;float:left;overflow:hidden;}
.footer_link_space{margin:0 5px;text-align:center;overflow:hidden;}
.footer_link_space img{vertical-align:middle;}
.footer_link_grey{color:#333;}
.footer_share a{display:inline-block;float:left;width:16px;height:16px;margin-right:8px;background:url(../images/youttx_ico.png) no-repeat;}
.footer_share a.isoufun{background-position:0 -64px;}
.footer_share a.isina{background-position:0 0;}
.footer_share a.isohu{background-position:0 -16px;}
.footer_share a.i163{background-position:0 -32px;}
.footer_share a.itengxun{background-position:0 -48px;}
.footer_share a.irenren{background-position:0 -80px;margin-right:0px;}
.footer_copy{height:20px;line-height:20px;color:#cdcdcd;overflow:hidden;}
.FontArial02{font-family:Arial, Helvetica, sans-serif;}
.FooterNet li{float:left;text-align:center;color:#999999;padding-right:10px;line-height:17px;}
.FooterNet{padding-top:16px;width:580px;margin:0 auto;overflow:hidden;}/*2012-4-11*/
/*二级导航*/ 
.mycenter{width:964px;min-height:500px;background:#F3F4EC;border-top-left-radius:15px;border-top-right-radius:15px;padding:8px;margin-top:12px;overflow:hidden;}
.mycenter_bigtitle{width:964px;background:#fff;border-top-left-radius:10px;border-top-right-radius:10px;height:42px;padding:9px 0 0;overflow:hidden;}
.mycenter_bigtitle li{display:inline;font-size:24px;height:30px;margin:0 5px 0 0;padding:10px;}
.mycenter_bigtitle li a,.mycenter_bigtitle li a:visited{font-weight:bold;color:#5d5d5d;}
.mycenter_bigtitle li a:hover{font-weight:bold;color:#000;text-decoration:none;}
.mycenter_bigtitle li.active a,.mycenter_bigtitle li.active a:hover{color:#fff!important;}
.mycenter_smalltitle{width:958px;background:#fff;margin:1px 0 0;padding:5px 3px 3px;overflow:hidden;}
.mycenter_smalltitle li{display:inline-block;float:left;font-size:14px;height:22px;line-height:1.5em;padding:0 7px;}
.mycenter_smalltitle li a,.mycenter_smalltitle li a:visited{color:#666;}
.mycenter_smalltitle li a:hover{color:#000!important;text-decoration:none;}
.mycenter_smalltitle li.active a:hover,.mycenter_bigtitle li.active a:hover{text-decoration:none;}
.mycenter_main{height:400px;height:auto!important;min-height:400px;clear:both;width:914px;padding:15px;margin:10px;margin-bottom:20px;background:#fff;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;-moz-box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;-webkit-box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;overflow:hidden;}
.mycenter_main2{clear:both;width:914px;padding:15px;margin:10px;margin-bottom:20px;background:#fff;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;-moz-box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;-webkit-box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;overflow:hidden;}
.active2{background:url(../images/ico_018.gif) 4px center no-repeat;width:111px;*+background:url(../images/ico_018.gif) 5px 6px no-repeat;}
.mycenter_bigtitle_nav .active{border-bottom:3px solid #028FD7;}
/*NewSubNav-Add to Question and answer*/
.NewSubNav{background-color:#FFFFFF;border-top-left-radius:10px;border-top-right-radius:10px;height:42px;overflow:hidden;padding:9px 0 0;width:964px;}
.NewSubNav li{font-size:22px;float:left;line-height:34px;height:34px;display:inline;margin-right:15px;}
.NewSubNav li a{font-weight:bold;color:#5d5d5d;display:block;line-height:34px;height:34px;padding:0 6px;float:left;}
.NewSubNav li a:hover{color:#000!important;text-decoration:none!important;}
.NewSubNavImg{position:absolute;top:-7px;right:-13px;}
.NewSubNav .NewSubNavCur{background:url(../images/newsubnav_rbg.gif) right top no-repeat;}
.NewSubNav .NewSubNavCur a{background:url(../images/newsubnav_lbg.gif) left top no-repeat;color:#fff!important;}
.NewSubNav .NewSubNavCur a:hover{color:#fff!important;}
/*NewSubNav-Add to Question and answer-end*/
/*返回顶部2011-12-07 */ 
.backtopbox{height:0px;position:fixed;top:40%;cursor:pointer;}
.backtopbox .backtop{position:absolute;right:-1005px;width:14px;height:55px;color:#028ad8;padding:25px 6px 0 6px;border:1px solid #ddd;border-left:none;text-aling:center;border-radius:3px;background:url(../images/backupbg.gif) 7px 10px no-repeat #fff;}
/*头部手机注册提示*/
.mobile_login_note{background:url(../images/newpromptbg_r.gif) right 0 no-repeat;height:30px;padding-right:5px;position:absolute;left:-12px;top:-30px;z-index:99;}
.mobile_login_note p{background:url(../images/newpromptbg_l.gif) left no-repeat;line-height:26px;height:30px;white-space:nowrap;padding:0 8px 0 5px;_float:left;}
.mobile_login_note .ml_close_color{background:url(../images/newpromptcolse.gif) 0 -10px no-repeat;display:inline-block;height:7px;overflow:hidden;position:absolute;right:4px;top:4px;width:7px;}
.ml_close_color:hover{background-position:0 0;}
.mobile_login_note p a:link{color:#ee56a7;}
.mobile_login_note p a:visited{color:#ee56a7;}
.mobile_login_note p a:hover{color: #ed007e;text-decoration:none;}
/*意见反馈*/
/*2013-04-16修改*/
.feedbackbox{height:0px;width:117px;right:0;position:fixed;top:90%;/*cursor:pointer; */margin-top:-187px; z-index:99;}/*2013-6-26修改*/
.feedbackbox .feedback{position:absolute;left:0px;width:105px;height:208px;border:1px solid #dedede;text-align:center;border-radius:3px; background:#f5f5f5;}/*2013-6-26修改*/
.feedback a{display:block;text-align:center;color:#666!important;text-decoration:none;}
.feedbackA1{background:url(../images/fdcoin.jpg) no-repeat top;padding:30px 0 5px 0;margin:5px 0 5px;border-bottom:1px solid #dedede;}/*2013-6-26修改*/
.feedbackA1:hover{background:url(../images/fdcoinah.jpg) no-repeat top;color:#288ecc!important;text-decoration:none;}
.feedbackA2{line-height:16px;_padding-top:3px;}
.feedbackA2:hover{color:#288ecc!important;text-decoration:none;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed;}
* html .feedbackbox{height:50px;_position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_bottom:auto;}
.FeedBackColseImg{width:95px;height:7px;overflow:hidden;text-align:right;padding:5px 10px 0 0;}/*2013-6-26修改*//*新增加*/
.FeedBackColse{cursor:pointer; vertical-align:top; }/*2013-6-26修改*//*新增加*/
/*2013-04-16*/
/*弹出有奖问答*/
.feedbackbox02{position:fixed;top:90%;cursor:pointer;margin-top:-180px;width:20px;}
.feedbackbox02 .feedback02{position:absolute;left:2px;width:20px;color:#ff82c3;text-align:center;background:url(../images/a_quizbg.gif) 0 0 no-repeat;z-index:2;padding:25px 2px 5px;}
.feedbackbox02 .feedback02:hover{color:#fff;background:url(../images/a_quizbg.gif) -41px 0px no-repeat;}
.FeedReward:hover{text-decoration:none!important;}
*html .feedbackbox02{ _position:absolute; _margin-bottom:255px; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
/*常用公共样式*/
/* 文字排版 */
.F12{font-size:12px;font-family:'宋体';}/*2012-4-11*/
.F14,.F15,.F16,.F17,.F18,.F19,.F20,.F21,.F22{font-size:14px;font-family:Microsoft yahei;}/*2012-4-11*/
.F15{font-size:15px;}.F16{font-size:16px;}.F17{font-size:17px;}.F18{font-size:18px;}.F19{font-size:19px;}.F20{font-size:20px;}.F21{font-size:21px;}.F22{font-size:22px;}
.FwB{font-weight:bold;}.FwN{font-weight:normal;}.Unl{text-decoration:underline;}.NoUnl{text-decoration:none;}
.FontArial{font-family:Arial, Helvetica, sans-serif;}/*Arial字体*/
/* 定位 */
.TaL{text-align:left;}.TaC{text-align:center;}.TaR{text-align:right;}.MarginAuto{margin:0 auto;}.FL{float:left}.FR{float:right}.CB{clear:both}.CL{clear:left}.CR{clear:right}
.VerMid{vertical-align:middle;}.PosRe{position:relative;}.PosAb{position:absolute;}.Zoom{zoom:1}.OverHid{overflow:hidden;}.DisBlock{display:block;}.DisNone{display:none;}
/* 长度高度 */
.W{width:100%;}.H{height:100%;}
/* 边距*/
.MT5{margin-top:5px;}.MB10{margin-bottom:5px;}.ML10{margin-left:5px;}.MR10{margin-right:5px;}
.MT10{margin-top:10px;}.MB10{margin-bottom:10px;}.ML10{margin-left:10px;}.MR10{margin-right:10px;}
.PT5{padding-top:5px;}.PB5{padding-bottom:5px;}.PL5{padding-left:5px;}.PR5{padding-right:5px;}
.PT10{padding-top:10px;}.PB10{padding-bottom:10px;}.PL10{padding-left:10px;}.PR10{padding-right:10px;}
/* 颜色Color*/
.ColorRed{color:#F00}/*红色*/
.ColorBlack{color:#000}/*黑色*/
.ColorGray333{color:#333}/*灰色*/
.ColorGray666{color:#666}
.ColorGray999{color:#999}
.ColorBlue{color:#0087D2;}/*蓝色*/
.ColorGreen{color:#339900;}/*绿色*/
.ColorOrange{color:#BD6600;}/*橙色*/
.ColorPink{color:#E00176;}/*粉红色*/
/*2012-5-17 Addbase*/
.MT15{margin-top:15px;}.MB15{margin-bottom:15px;}.ML15{margin-left:15px;}.MR15{margin-right:15px;}
.PT15{padding-top:15px;}.PB15{padding-bottom:15px;}.PL15{padding-left:15px;}.PR15{padding-right:15px;}
.MT20{margin-top:20px;}.MB20{margin-bottom:20px;}.ML20{margin-left:20px;}.MR20{margin-right:20px;}
.PT20{padding-top:20px;}.PB20{padding-bottom:20px;}.PL20{padding-left:20px;}.PR20{padding-right:20px;}
.MT30{margin-top:30px;}.MB30{margin-bottom:30px;}.ML30{margin-left:30px;}.MR30{margin-right:30px;}
.PT30{padding-top:30px;}.PB30{padding-bottom:30px;}.PL30{padding-left:30px;}.PR30{padding-right:30px;}
.MT50{margin-top:50px;}.MB50{margin-bottom:50px;}.ML50{margin-left:50px;}.MR50{margin-right:50px;}
.PT50{padding-top:50px;}.PB50{padding-bottom:50px;}.PL50{padding-left:50px;}.PR50{padding-right:50px;}
.T00{top:0px;}.T5{top:5px;}.T10{top:10px;}.T15{top:15px;}.T20{top:20px;}.T25{top:25px;}
.T30{top:30px;}.T35{top:35px;}.T55{top:55px;}.T100{top:100px;}.T200{top:200px;}.T300{top:300px;}
.TN5{top:-5px;}.TN10{top:-10px;}.TN15{top:-15px;}.TN17{top:-17px;}.TN20{top:-20px;}.TN25{top:-25px;}.TN30{top:-30px;}.TN50{top:-50px;}.TN100{top:-100px;}
.L00{left:0px;}.L5{left:5px;}.L10{left:10px;}.L15{left:15px;}.L20{left:20px;}.L25{left:25px;}
.L30{left:30px;}.L35{left:35px;}.L55{left:55px;}.L100{left:100px;}.L200{left:200px;}.L300{left:300px;}
.LN5{left:-5px;}.LN10{left:-10px;}.LN15{left:-15px;}.LN20{left:-20px;}.LN25{left:-25px;}.LN30{left:-30px;}.LN50{left:-50px;}.LN100{left:-100px;}
.R00{right:0px;}.R5{right:5px;}.R10{right:10px;}.R15{right:15px;}.R20{right:20px;}.R25{right:25px;}
.R30{right:30px;}.R35{right:35px;}.R55{right:55px;}.R100{right:100px;}.R200{right:200px;}.R300{right:300px;}
.RN5{right:-5px;}.RN10{right:-10px;}.RN15{right:-15px;}.RN20{right:-20px;}.RN25{right:-25px;}.RN30{right:-30px;}.RN50{right:-50px;}.RN100{right:-100px;}
.B00{bottom:0px;}.B5{bottom:5px;}.B10{bottom:10px;}.B15{bottom:15px;}.B20{bottom:20px;}.B25{bottom:25px;}
.B30{bottom:30px;}.B35{bottom:35px;}.B55{bottom:55px;}.B100{bottom:100px;}.B200{bottom:200px;}.B300{bottom:300px;}
.BN5{bottom:-5px;}.BN10{bottom:-10px;}.BN15{bottom:-15px;}.BN20{bottom:-20px;}.BN25{bottom:-25px;}.BN30{bottom:-30px;}.BN50{bottom:-50px;}.BN100{bottom:-100px;}
.Zi2{z-index:2;}.Zi5{z-index:5;}.Zi9{z-index:9;}.Zi99{z-index:99;}
.Ti{text-indent:-999999px;}.Ti2em{text-indent:2em;}
/*2012-5-17 Addbase-end*/
/*2012-4-23公共底部布局*/
.FooterDesktop{background:url(../images/footerdesktopbg.gif) 0 center no-repeat;*background:url(../images/footerdesktopbg.gif) 0 1px no-repeat;padding-left:20px;height:20px;line-height:20px;}
.FooterCity{width:950px;margin:0 auto;}
.FooterCity dd{float:left;width:60px;}
.FooterCity dt{float:left;width:890px;overflow:hidden;}
.FooterCity dt a{padding-right:2px;padding-left:2px;white-space:nowrap;color:#999!important;}
.FooterDesktop{display:inline-block;}
.FooterNet{padding-bottom:20px;}
/*覆盖时保留以下部分*/
.FontArial02 a{color:#999!important;}
.wrapper{margin: 0 auto;width: 980px;}
/* 2012-06-20公共头部修改 */
.HeaderTiShi{position:absolute;top:-30px;left:0;z-index:2;border:1px solid #d4c79a;background-color:#fff7bc;height:22px;line-height:22px;white-space:nowrap;padding:0 15px 0 5px;border-radius:3px;color:#666666;}
.HeaderTiShi span{position:absolute;top:12px;top:13px\9;left:13px;background:none!important;padding:0!important;color:#d4c79a!important;_top:14px;}
.HeaderTiShi .HeaderTiShiImg{top:11px;top:12px\9;color:#fff7bc!important;_top:13px}.HeaderTiShi p{cursor:pointer;position:absolute;top:3px;right:4px;width:5px;height:5px;display:inline;line-height:5px;}
.HeaderMesT{position:absolute;top:24px;left:0;z-index:2;border:1px solid #D8D8D8;background-color:#fff;white-space:nowrap;padding:5px 15px 0 5px;color:#666666; width:140px;}
.HeaderMesT span{position:absolute;top:-12px;left:13px;background:none!important;padding:0!important;color:#D8D8D8!important;_top:-14px;}
.HeaderMesT .HeaderMesTImg{top:-11px;color:#fff!important;_top:-13px}
.HeaderMesT p{cursor:pointer;position:absolute;top:3px;right:4px;width:5px;height:5px;display:inline;line-height:5px;}
/* 2012-06-28 Footer改版 */
.NewFooter{width:100%;background-color:#F2F0F0;border-top:1px solid #DBDBDB; margin-top:10px;}
.NewFooterBox{width:980px; margin:0 auto;border-top:1px solid #e9e9e9; margin-top:20px;}
.Newfooter_link{color:#cfcfcf;overflow:hidden;margin:0px auto;width:871px;font:12px "宋体";}
.Newfooter_link li{height:20px;line-height:20px;float:left;overflow:hidden;}
.NewFooterLine img{vertical-align:middle;}
.Newfooter_link .NewFooterLine{color:#C3C3C3;margin:0 10px;overflow:hidden;}
.NewFooterNet{padding-top:5px;padding-bottom:20px;width:730px;margin:0 auto;overflow:hidden;}
.NewFooterNet li{float:left;text-align:center;color:#666;line-height:17px;}
.FontArial02{font-family:Arial, Helvetica, sans-serif;margin-right:6px; padding-top:4px;}/*2012-8-27修改*/
.WebSafety{ width:104px;height:38px;border:1px solid #DDD;margin-left:6px;padding-top:3px;background-color:#FFF}
.NewFooterItem{height:165px;width:970px;overflow:hidden;border-right:1px solid #e9e9e9;border-left:1px solid #e9e9e9;padding-left:8px;}
.NewFooterList{float:left; width:160px; padding:10px 16px 0;}
.NewFooterList h2{font:14px/34px "微软雅黑";color:#222}
.FooterDetails{background: url(../images/footerdetailsbg.gif) repeat-y 8px 0; padding-left:25px;height:116px;}/*2012-7-6修改*/
.FooterDetails li a{font:12px/22px "宋体";color:#999 !important;}/*2012-7-6修改*/
.ContactUs_Details{background: url(../images/footerdetailsbg.gif) repeat-y 8px 0;padding-left:25px;height:116px;}/*2012-7-6修改*/
.Attention_Icon{background: url(../images/footerdetailsbg.gif) repeat-y 8px 0;padding-left:20px;height:116px;}
.ContactUs_Details li{font:12px/22px "宋体";height:22px;color:#808080;}
.KeFu_Num{ width:130px;background:url(../images/400num.gif) no-repeat 0px 0px; }
.Zuke h2,.XinShou h2,.ContactUs h2,.Attention h2,.Fukuan h2{ background:url(../images/h2icon.gif) no-repeat;padding-left:25px;}/*2012-7-6修改*/
.Zuke h2{ background-position:0 0;}
.XinShou h2{background-position:0 -34px;}
.Fukuan h2{background-position:0 -68px;}
.ContactUs h2{background-position:0 -100px;}/*2012-7-6修改*/
.Attention h2{background-position:0 -134px;}
.Attention{width:160px;}
.NewFooter_Share{color:#cfcfcf;overflow:hidden;padding:4px 0 5px 16px;}
.NewFooter_Share a{display:inline-block;float:left;width:16px;height:16px;margin-right:8px;background:url(../images/youttx_ico.png) no-repeat;}
.NewFooter_Share a.isoufun{background-position:0 -64px;}
.NewFooter_Share a.isina{background-position:0 0;}
.NewFooter_Share a.isohu{background-position:0 -16px;}
.NewFooter_Share a.i163{background-position:0 -32px;}
.NewFooter_Share a.itengxun{background-position:0 -48px;}
.NewFooter_Share a.irenren{background-position:0 -80px;margin-right:0px;}
/*2012-7-20修改头部样式*/
.HeaderTiShi02{background-color:#fff;border:1px solid #c3c3c3;border-radius:3px 3px 3px 3px;color:#666666;left:0;line-height:22px;padding:0 15px 0 5px;position:absolute;top:25px;white-space:nowrap;z-index:2;}/*2012-10-31修改*/
.HeaderTiShi02 p,.HeaderTiShi03 p{cursor: pointer;display:inline;height:5px;line-height:5px;position:absolute;right:4px;top:3px;width:5px;}
.Headerbg01,.Headerbg02{color:#c3c3c3;left:13px;position:absolute;top:-10px;}
.Headerbg02{top:-9px;color:#f3f3f3;}
.UlName{white-space:nowrap;border:1px solid #bfbfbf;position:absolute;left:0px;top:22px;_top:24px;padding:3px 0 0;background-color:#fff;z-index:100;display:none;_padding-top:0;}/*2013-5-3修改*/
.UlName02 div{line-height:22px;height:22px;border-bottom: 1px dotted #DBDBDB;padding:0 6px 0 7px;}/*2013-5-3修改*/
.FirstSpan{display:block;position:relative;z-index:101;float:left;background:url(../images/headicos.png) no-repeat 6px 4px;padding:3px 0 0 28px;line-height:21x;height:21px;*padding-top:5px;_padding-top:7px;_background:url(../images/headicosie6.png) no-repeat 6px 4px;}/*2013-5-3修改*/
.subnav .firstCur .FirstSpan{border:1px solid #bfbfbf;padding:3px 5px 0 28px;background-color:#fff;border-bottom:none;height:19px;line-height:19px;background-position:6px 3px;*background-position:6px 2px;*padding-top:3px;_padding-top:5px;}/*2013-5-3修改*/
.subnav .firstCur{padding:0;*margin-top:-2px;}/*2013-5-3修改*/
.JianTouIco{background:url(../images/headjiantou.gif) 0 -15px no-repeat;width:8px;height:7px;display:inline-block;margin-left:3px;*background-position:0 -16px;_background-position:0 -12px;}
.firstCur .JianTouIco{background-position:0 0;_background-position:0 3px;}
.HeaderTiShi03{background-color:#fff;border:1px solid #C3C3C3;border-radius:4px;color:#666666;left:0;line-height:20px;padding:8px 5px;position: absolute;top:23px;z-index:2;width:180px;}
.HeaderTiShi03 tr td input{vertical-align:middle;margin-right:5px;margin-top:-3px;}
.HeaderTiShi03 tr td input,.HeaderTiShi03 tr td label{cursor:pointer;}
.HeaderTiShi03 tr td{line-height:20px;height:20px;}
.HeaderTiShi03 p{right:10px;top:5px;}
.HeaderTiShi03Btn{ text-align:center;padding-top:10px;}
.HeaderTiShi03Btn input{background:url(../images/headoutboxbtn.gif) no-repeat;width:48px;height:21px;border:none; text-align:center; cursor:pointer;}
.HeadIE6iframe{width:100%;height:170px;z-index:10;position:absolute;top:0px;left:0;display:none;_display:block;filter:mask();}
.Headerbg03{top:-11px}
.Headerbg04{top:-10px}
/*2012-8-10修改*/
.subnav .firstNew{border-left:none;}
/*2012-8-27修改*/
.subnav .HeadLanguage{font-family:Arial;background:url(../images/internationalico.jpg) 5px 2px no-repeat;padding-left:25px;}
/*短租帮头底*/
.DuanZuBangwrapper{width:100%;margin:0 auto;}
.DuanZuBang_Head{width:980px;margin:0 auto;height:90px;}
.DuanZuBang_Logo{padding-top:12px;float:left;}
.DuanZuBang_Subnav{float:right;padding-top:42px;}
.DuanZuBang_Subnav .FirstSpan{margin-top:-3px;*margin-top:-5px;_margin-top:-7px;padding-right:8px;background-position:6px 1px;_background-position:6px 3px;}
.cfcfcf{color:#cfcfcf;}
.DuanZuBangFooter{border-top:1px solid #d9d9d9;width:100%;margin:30px auto 0;padding-top:20px;}
.DuanZuBangFooterLink{width:980px;margin:0 auto;text-align:center;}
.DuanZuBangFooterLink a{margin:0 5px;}
/*短租帮头底_end*/

/*140224新增*/
.subnav .ytxMob{background:url(../images/teiiconew.gif) no-repeat 6px 3px;padding:0 6px 0 20px;position:relative;}/*140225修改*/
.ytxMobCon{position:absolute;top:30px;left:-77px;width:487px;height:165px;background:#fff;z-index:100;border:solid 1px #d1d1d1;line-height:18px;padding-left:1px;}/*140227修改*/
.arrowGy,.arrowWt{position:absolute;font-family:"宋体";font-size:12px;}
.arrowGy{color:#d1d1d1;top:-10px;left:112px;}/*140227修改*/
.arrowWt{color:#fff;top:-9px;left:112px;}/*140227修改*/
.ytxMobCon dl{float:left;border-right:#d1d1d1 dashed 1px; text-align:center;padding:0 10px;margin-top:8px;}/*140227修改*/
.ytxMobCon dt{padding-bottom:8px;}
a.mbUrl{color:#666!important;background:#f4f4f4;font-size:16px;font-family:Microsoft yahei;font-weight:bold;diplay:block;border-radius:3px;padding:14px 6px;cursor:pointer;}/*140227修改*/

